# ~/.hellish/hellish.conf
# Written by `conf save`. Hand-editing is fine: one directive per line.
#   feature <name> <on|off>   toggle a module or plugin
#   set     <VAR> <value>     set a configuration variable
# Generated 2026-08-27 12:54:21

feature ai               on
feature aliases          on
feature completion       on
feature devkit           on
feature docker           on
feature env              on
feature forge            on
feature functions        on
feature git              on
feature history          on
feature jump             on
feature local            on
feature net              on
feature options          on
feature prompt           on
feature sentinel         on

set HX_THEME         box
set HX_COLOR         auto
set HX_HIST_SIZE     20000
